---
title: The Angular Material Weather App
---
<div ng-controller="WeatherCntl">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Angular Material Weather App</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button ng-click="findLocation()">
        Find Location
      </md-button>
      <md-button ng-click="showAbout()">
        About
      </md-button>
    </div>
  </md-toolbar>

  <md-content>
    <div layout="vertical" layout-align="center">
      <span class="title">Enter a city, country</span>
      <md-text-float label="Location" ng-model="location" ng-change="lookupLocation()"></md-text-float>
      <span style="padding: 1.2em">
        <md-button class="md-raised md-primary" ng-click="lookupLocation()">Lookup</md-button>
      </span>
    </div>

    <div>
      <md-progress-linear md-mode="indeterminate" ng-show="working"></md-progress-linear>
    </div>
    <h3 ng-show="working" style="text-align: center">{{ status }}</h3>
  </md-content>

  <%= partial "/templates/tabs" %>

  <div ng-repeat="report in reports">
    <%= partial "/templates/weather" %>
  </div>
</div>